[workspace]
members = ["cargo:."]

# Config for 'dist'
[dist]
# The preferred dist version to use in CI (Cargo.toml SemVer syntax)
cargo-dist-version = "0.30.2"
# CI backends to support
ci = "github"
# The installers to generate for each app
installers = ["shell", "powershell", "npm", "homebrew", "msi"]
# Target platforms to build apps for (Rust target-triple syntax)
# NOTE(canardleteer): Disabled Reasons
# - "aarch64-pc-windows-msvc" / needs `candle`
# - "aarch64-unknown-linux-gnu" "ERROR: there isn't a download for your platform aarch64-unknown-linux-gnu"
targets = ["aarch64-apple-darwin", "x86_64-apple-darwin", "x86_64-unknown-linux-gnu", "x86_64-unknown-linux-musl", "x86_64-pc-windows-msvc"]
# Path that installers should place binaries in
install-path = "CARGO_HOME"
# Whether to install an updater program
install-updater = false
# Generate and dist a source tarball
source-tarball = true
# Which actions to run on pull requests
pr-run-mode = "upload"
# Checksums to generate for each App
checksum = "sha512"
# Whether to use cargo-cyclonedx to generate an SBOM
cargo-cyclonedx = true
# Whether to use omnibor-cli to generate OmniBOR Artifact IDs
omnibor = true

# NOTE(canardleteer): Dependabot updates at a different rate than dist does. I
#                     would prefer to not have this enabled, but it does seem
#                     like the quickest path forward for now.
allow-dirty = ["ci"]